<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="bootstrap.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
    beStrictAboutOutputDuringTests="true"
    failOnRisky="true"
    failOnWarning="true"
>
    <testsuites>
        <testsuite name="Vincentian Hub">
            <file>contract/FoundationContractsTest.php</file>
            <file>integration/PluginLifecycleTest.php</file>
            <file>integration/CapabilityBoundariesTest.php</file>
        </testsuite>
    </testsuites>

    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
    </php>
</phpunit>
